<html>
    <head>
        <title>test</title>
    </head>
    <body>
        <form action="/admin/api/test" method="post">
            <div>
                제목 : <input type="text">
            </div>
            <div>
                공개 제한 : <input type="number">
            </div>
            <div>
                썸네일 : <input type="file">
            </div>
            <div>
                <input type="file" multiple>
            </div>
            <button>submit</button>
        </form>
    </body>
</html>