.main-banner {
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
  margin-bottom: 90px;
}

.main-banner--item {
  height: 460px;
  overflow: hidden;
}

.main-banner--item .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-banner--item .img-wrap img {
  width: 100%;
  pointer-events: none;
}

.login-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-bottom .right {
  font-size: 1.3rem;
}

.login-bottom .right a {
  color: #7d7d7d;
}

.login-bottom .right a:last-child {
  margin-left: 20px;
  position: Relative;
}

.login-bottom .right a:last-child:after {
  content: '';
  display: block;
  width: 1px;
  height: 13px;
  background: #7d7d7d;
  position: absolute;
  left: -10px;
  top: 4px;
}

.login-first {
  margin: 40px 0;
  text-align: center;
  font-size: 1.2rem;
}

.login-first a {
  margin-left: 10px;
  font-weight: 500;
  position: relative;
}

.login-first a:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: 0;
}

.find-result {
  margin: 80px 0 100px;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.4;
}

.find-result .box {
  background: #efefef;
  border-radius: 5px;
  padding: 20px;
  margin-top: 25px;
}

.find-more {
  margin: 10px 0;
  text-align: center;
}

.find-more a {
  font-size: 1.4rem;
  color: #6c6cef;
}

.sub-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 40px;
}

.sub-check .checkbox {
  width: calc(50% - 5px);
  position: relative;
}

.sub-check .checkbox:first-child {
  margin-right: 10px;
}

.sub-check .checkbox .check {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #787878;
  border-radius: 20px;
  position: absolute;
  left: calc(50% - 10px);
  top: -12.5px;
}

.sub-check .checkbox .text {
  width: 100%;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  color: #929292;
  font-size: 1.3rem;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.2;
}

.sub-check .checkbox input:checked ~ .check {
  background-color: #fff;
  background-image: url(../images/icon/check.svg);
  border-color: #787878;
  background-size: 13px;
}

.sub-check .checkbox input:checked ~ .text {
  background: #6c6cef;
  border-color: #6c6cef;
  color: #fff;
}

.check-list--item {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 7px 0;
  padding-left: 15px;
  position: Relative;
}

.check-list--item:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: url(../images/icon/check_sm.svg) no-repeat center;
  position: absolute;
  left: 0;
  top: 4px;
  background-size: 12px;
}

.card-info {
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
  background: #f3f3f3;
  border-top: 1px solid #8e8e8e;
  padding: 20px;
  font-size: 1.4rem;
}

.card-info.bg-white {
  background: #fff;
  border-top: none;
}

.card-info .input-label {
  width: 70px;
}

.card-info .input-text {
  text-align: center;
  width: calc(100% - 74px);
}

.card-info .input-text.xsm {
  width: calc(100% / 4 - 25px) !important;
  margin-right: 5px;
  padding: 0;
}

.card-info .input-text.xsm:last-child {
  margin-right: 0;
}

.text-list--item {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #c5c5c5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-list--item:last-child {
  border-bottom: none;
}

.text-list--item.bottom-line {
  border-bottom: 1px solid #c5c5c5;
}

.text-list--item .left {
  font-weight: 500;
}

.text-list.sm .text-list--item {
  padding: 13px 0;
}

.thumbnail-list {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.thumbnail-list--item {
  width: calc(50% - 6px);
  margin-bottom: 50px;
}

.thumbnail-list--item:nth-child(odd) {
  margin-right: 12px;
}

.thumbnail-list--item .img-wrap {
  width: calc((100vw - 52px) / 2);
  height: calc((100vw - 52px) / 2);
  max-width: 290px;
  max-height: 290px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thumbnail-list--item .img-wrap img {
  width: 100%;
}

.thumbnail-list--item .tit {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 22px;
  margin: 14px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.thumbnail-list--item .sub {
  font-size: 1.2rem;
  color: #666;
}

.list-top {
  font-size: 1.6rem;
  color: #4c4c4c;
  line-height: 1.5;
  margin: 30px 0 0;
  font-weight: 400;
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
}

.list-top.type2 {
  border-top: 1px solid #000;
  border-bottom: none;
  padding: 20px 0 0 0;
  margin: 0 0 40px 0;
}

.story-list {
  margin: 60px 0;
}

.story-list--item {
  width: 100%;
  margin-bottom: 60px;
  position: relative;
}

.story-list--item .img-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 220px;
  overflow: hidden;
  background: #f0f0f0;
  position: relative;
}

.story-list--item .img-wrap img {
  width: 100%;
}

.story-list--item .img-wrap .badge {
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 20px;
  font-weight: 600;
  padding: 2px 10px 2px;
}

.story-list--item .text-wrap {
  padding: 20px 0px 60px 0px;
}

.story-list--item .text-wrap .tit {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.story-list--item .text-wrap .badge.grey {
  margin-top: 20px;
}

.story-list--item .bookmark {
  position: absolute;
  right: 0;
  bottom: 40px;
  width: 19px;
  height: 21px;
  background: url(../images/icon/bookmark.svg) no-repeat center;
  opacity: 0.3;
}

.styling-list {
  margin: 35px 0;
}

.styling-list--item {
  width: 100%;
  margin-bottom: 80px;
  position: relative;
  border: 1px solid #dbdbdb;
}

.styling-list--item .top {
  background: #2a2b2d;
  padding: 10px 12px;
}

.styling-list--item .top .badge {
  margin-right: 7px;
}

.styling-list--item .img-wrap {
  width: 100%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background: #f2f2f2;
}

.styling-list--item .img-wrap img {
  width: 100%;
}

.styling-list--item .text-wrap {
  padding: 20px 15px 50px;
  background: #fff;
  color: #000;
}

.styling-list--item .text-wrap .tit {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.styling-list--item .text-wrap .sub {
  font-size: 1.1rem;
  margin-top: 30px;
  font-weight: 300;
}

.styling-list--item .bookmark {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 19px;
  height: 21px;
  background: url(../images/icon/bookmark.svg) no-repeat center;
  opacity: 0.3;
}

.styling-top {
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
}

.styling-top .styling-list {
  margin-top: 0;
}

.styling-top .styling-list--item {
  height: 470px;
}

.styling-top .styling-list--item .img-wrap {
  height: 470px;
  position: relative;
}

.styling-top .styling-list--item .img-wrap:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.styling-top .styling-list--item .text-wrap {
  background: transparent;
  z-index: 1;
  padding: 25px 20px 30px;
}

.styling-top .styling-list--item .text-wrap > .badge {
  position: absolute;
  left: 20px;
  top: -9px;
  border-radius: 20px;
  font-size: 1.2rem;
  color: #000;
  font-weight: 500;
}

.styling-top .styling-list--item .text-wrap .tit {
  -webkit-line-clamp: unset;
}

.styling-top .styling-list--item .text-wrap .sub {
  line-height: 1.4;
  margin-top: 30px;
}

.styling-top .styling-list--item .bookmark {
  z-index: 1;
  bottom: 35px;
}

.styling-top .styling-list.type2 {
  margin: 0;
}

.styling-top .styling-list.type2 .styling-list--item {
  height: auto;
  margin: 0;
  border: none;
}

.styling-top .styling-list.type2 .styling-list--item .img-wrap {
  height: 290px;
}

.styling-top .styling-list.type2 .styling-list--item .img-wrap:after {
  display: none;
}

.styling-top .styling-list.type2 .styling-list--item .text-wrap {
  color: #000;
  position: relative;
}

.styling-top .styling-list.type2 .styling-list--item .text-wrap .tit {
  font-size: 2rem;
}

.styling-top .styling-list.type2 .styling-list--item .text-wrap .sub {
  font-size: 1.2rem;
  color: #666;
}

.styling-top .styling-list.type2 .styling-list--item .text-wrap .sub .badge {
  color: #000;
  display: inline-block;
  margin-top: 10px;
}

.styling-top .styling-list.type2 .styling-list--item .bookmark {
  -webkit-filter: none;
          filter: none;
  opacity: 0.3;
}

.styling-top .styling-list.type3 .styling-list--item {
  border: none;
  height: auto;
  margin-bottom: 0;
}

.styling-top .styling-list.type3 .styling-list--item .text-wrap {
  padding: 25px 20px 5px;
}

.styling-top .styling-list.type3 .styling-list--item .text-wrap > .badge {
  position: relative;
  left: 0;
  top: 0;
}

.styling-top .styling-list.type3 .styling-list--item .text-wrap .tit {
  margin-top: 20px;
}

.styling-top .styling-list.type3 .styling-list--item .text-wrap .sub {
  margin-top: 25px;
  color: #a8a8a8;
  font-size: 1.2rem;
}

.styling-top .styling-list.type3 .styling-list--item .text-wrap .badge.sm {
  font-weight: 400;
  margin-top: 10px;
  color: #000;
}

.detail-con {
  width: calc(100% + 40px);
  min-height: 500px;
  position: relative;
  left: -20px;
  padding: 10px 20px;
  background: #fff;
}

.detail-con img {
  width: 100%;
}

.detail-con .bottom-fix {
  display: none;
}

.detail-con.nonmember {
  max-height: 1000px;
  overflow: hidden;
}

.detail-con.nonmember .bottom-fix {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 0 20px 30px;
  -webkit-box-shadow: 0 -30px 30px 20px #fff;
          box-shadow: 0 -30px 30px 20px #fff;
}

.detail-con.nonmember .bottom-fix .content-top > .sub {
  margin: 0 0 35px;
  font-weight: 400;
}

.more-con {
  border-top: 1px solid #000;
  height: 140px;
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
}

.more-con a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more-con .img-wrap {
  width: 76px;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background: #e2e2e2;
}

.more-con .img-wrap img {
  width: 100%;
}

.more-con .text-wrap {
  padding-left: 20px;
  width: calc(100% - 60px);
}

.more-con .text-wrap .tit {
  font-size: 1.6rem;
  word-break: keep-all;
  margin-bottom: 10px;
}

.more-con .text-wrap .sub {
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 500;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.more-con.prev a {
  padding-left: 50px;
}

.more-con.prev:after {
  content: "";
  display: block;
  width: 10px;
  height: 20px;
  background-image: url(../images/icon/arrow_right_md.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 20px;
  top: calc(50% - 10px);
  opacity: .5;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.more-con.next {
  border-top: 1px solid #d0d0d0;
}

.more-con.next:after {
  content: "";
  display: block;
  width: 10px;
  height: 20px;
  background-image: url(../images/icon/arrow_right_md.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
  top: calc(50% - 10px);
  opacity: .5;
}

.more-con.next a {
  padding-right: 65px;
}

.more-con.next .text-wrap {
  padding-left: 0;
  padding-right: 20px;
  text-align: right;
}

.more-wrap {
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
  border-top: 1px solid #000;
  padding: 65px 20px;
}

.more-wrap > .tit {
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: 500;
}

.more-list--item a {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.more-list--item:last-child a {
  border-bottom: none;
}

.more-list--item .img-wrap {
  width: 97px;
  height: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background: #e2e2e2;
}

.more-list--item .img-wrap img {
  width: 100%;
}

.more-list--item .text-wrap {
  width: calc(100% - 97px);
  padding-left: 15px;
  word-break: keep-all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.more-list--item .text-wrap .tit {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.more-list--item .text-wrap .sub {
  margin-top: 15px;
}

.more-list--item .text-wrap .badge {
  display: inline-block;
  margin-right: 5px;
  border-radius: 10px;
}

.more-list--item .text-wrap .badge.grey {
  border-radius: 5px;
}

.comment-wrap {
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
  border-top: 10px solid #f5f5f5;
  padding: 50px 20px;
}

.comment-wrap .tit {
  font-size: 1.8rem;
  font-weight: 500;
}

.comment-list {
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
}

.comment-list--item {
  padding: 32px 20px;
  border-bottom: 1px solid #c0c0c0;
}

.comment-list--item:last-child {
  border-bottom: none;
}

.comment-list--item.re {
  background: #f3f3f3;
  padding: 25px 20px 32px 40px;
  position: relative;
}

.comment-list--item.re:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-left: 1px solid #989898;
  border-bottom: 1px solid #989898;
  position: absolute;
  left: 15px;
  top: 20px;
}

.comment-list--item.re .re-wrap {
  width: calc(100% + 60px);
  left: -40px;
}

.comment-list--item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-list--item .info .img-wrap {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 20px;
  background: #e1e1e1;
  display: none;
}

.comment-list--item .info .img-wrap img {
  width: 100%;
}

.comment-list--item .info .text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5;
  font-size: 1.4rem;
}

.comment-list--item .info .text-wrap .date {
  font-size: 1rem;
  color: #acacac;
}

.comment-list--item .con {
  margin: 20px 0 25px;
  line-height: 1.4;
  font-size: 1.6rem;
}

.comment-list--item .re-wrap {
  position: relative;
  padding: 0 20px 0 40px;
  border-top: 1px solid #c0c0c0;
  margin-top: 30px;
}

.comment-list--item .re-wrap:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-left: 1px solid #989898;
  border-bottom: 1px solid #989898;
  position: absolute;
  left: 15px;
  top: 30px;
}

.comment-list--item .re-wrap .comment-input {
  margin-top: 20px;
}

.comment-list--item .re-wrap .comment-input .info {
  background: #fff;
  padding: 10px 0 0 10px;
}

.comment-list--item .re-wrap .comment-input .info .name {
  font-size: 1.2rem;
}

.comment-list--item .re-wrap .comment-input .bottom {
  background: #fff;
  border-top: 1px solid #ccc;
}

.comment-list--item .re-wrap .comment-input .bottom .btn {
  background: #fff;
  color: #000;
  border: 1px solid #ccc;
  right: -1px;
  top: -1px;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
}

.comment-list--item .btn-re {
  width: 53px;
  height: 28px;
  color: #fff;
  background: #2a2b2d;
  font-size: 1.4rem;
  line-height: 1;
}

.comment-list.type2 .comment-list--item {
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
}

.comment-input {
  border: 1px solid #888888;
  margin-top: 50px;
}

.comment-input .textarea {
  border: none;
  font-size: 1.6rem;
}

.comment-input .bottom {
  background: #f3f3f3;
  height: 37px;
  position: relative;
}

.comment-input .bottom .btn {
  width: 72px;
  height: 38px;
  position: absolute;
  right: -1px;
  top: 0;
  background: #2a2b2d;
  border: 1px solid #141415;
  color: #fff;
  font-size: 1.4rem;
}

.direct-top {
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 420px;
  overflow: hidden;
  margin-bottom: 10px;
}

.direct-top img {
  width: 100%;
}

.direct-top .con {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 50px 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 500;
}

.bottom-fixed {
  z-index: 5;
  width: 100%;
  padding: 30px 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  border-radius: 20px 20px 0 0;
  -webkit-box-shadow: 0 -10px 100px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -10px 100px rgba(0, 0, 0, 0.2);
}

.bottom-fixed .content-top > .tit {
  padding-top: 0;
}

.bottom-fixed .close {
  position: absolute;
  right: 0;
  top: -10px;
  width: 18px;
  height: 18px;
  background: url(../images/icon/close.svg) no-repeat;
}

.bottom-fixed.type2 {
  padding: 20px;
  z-index: 11;
}

.bottom-fixed + .dim {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.mypage-top {
  padding: 30px 0;
}

.mypage-top strong {
  display: block;
  font-size: 2rem;
  margin-bottom: 15px;
}

.mypage-top .btn-underline {
  font-size: 12px;
  color: #858585;
  position: relative;
}

.mypage-top .btn-underline:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #616161;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.mypage-top .bottom-wrap {
  margin-top: 50px;
}

.list-menu {
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
  background: #fff;
  padding: 0 0 0 20px;
}

.list-menu--item:last-child a {
  border-bottom: none;
}

.list-menu--item a {
  border-bottom: 1px solid #8c8c8c;
  display: block;
  width: 100%;
  font-size: 1.6rem;
  padding: 25px 0;
  background: url(../images/icon/arrow_right.svg) no-repeat calc(100% - 20px) center;
  background-size: 7px;
}

.list-menu--item label {
  font-size: 1.4rem;
  display: block;
  border-bottom: 1px solid #000;
  width: calc(100% + 20px);
  position: relative;
  left: -20px;
  padding: 25px 20px;
}

.pay-list {
  width: calc(100% + 40px);
  position: Relative;
  left: -20px;
}

.pay-list--item:last-child .con {
  border-bottom: none;
}

.pay-list--item .top a {
  display: block;
  font-size: 1.3rem;
  color: #8f8f8f;
  background: url(../images/icon/arrow_right.svg) no-repeat calc(100% - 20px) center;
  border-bottom: 1px solid #dbdbdb;
  padding: 15px 20px;
  background-size: 7px;
}

.pay-list--item .con {
  border-bottom: 1px solid #dbdbdb;
  font-size: 1.3rem;
  padding: 15px 20px 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pay-list--item .con .left,
.pay-list--item .con .right {
  line-height: 2;
}

.pay-list--item .con .left .code,
.pay-list--item .con .right .code {
  color: #8f8f8f;
}

.pay-list--item .con .left .price strong,
.pay-list--item .con .right .price strong {
  font-size: 1.8rem;
  font-weight: bold;
}

.pay-list--item .con .right {
  text-align: right;
}

.bt-select {
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
}

.bt-select:last-child {
  border-bottom: 1px solid #818181;
}

.bt-select a {
  display: block;
  width: 100%;
  height: 100%;
  border-top: 1px solid #818181;
  padding: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bt-select .tit {
  font-size: 1.6rem;
  background: url(../images/icon/arrow_right.svg) no-repeat right center;
  background-size: 7px;
  padding-right: 15px;
  display: block;
  font-weight: 600;
}

.bt-select .bottom {
  font-size: 1.5rem;
  word-break: keep-all;
  line-height: 1.5;
  margin-top: 17px;
}

.bt-select .img-wrap {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bt-select .img-wrap img {
  width: 100%;
}

.bt-select .text-wrap {
  width: calc(100% - 100px);
  padding-left: 20px;
}

.bt-input {
  border: 1px solid #d8d8d8;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.bt-input--item {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 15px;
  border-bottom: 1px solid #bbb;
}

.bt-input--item:last-child {
  border-bottom: none;
}

.bt-input--item label {
  font-weight: 500;
  display: inline-block;
  margin-right: 10px;
}

.bt-input--item .btn {
  font-size: 1.4rem;
  color: #fff;
  background: #cfcfcf;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  font-weight: 500;
}

.bt-input--item input {
  width: 85px;
  height: 35px;
  border: 1px solid #b5b5b5;
  border-radius: 0;
  margin-right: 5px;
  padding: 0 10px;
  text-align: right;
}

.bt-input + .btn-wrap {
  margin-top: 0;
}

.bt-input + .btn-wrap .btn-full {
  border-radius: 0 0 5px 5px;
}

.bt-slide {
  position: relative;
}

.bt-slide + .btn-wrap {
  margin-top: 0;
}

.bt-slide + .btn-wrap .btn-full {
  border-radius: 0 0 5px 5px;
}

.bt-slide--item {
  border-radius: 5px 5px 0 0;
  border: 1px solid #c1c1c1;
  text-align: center;
}

.bt-slide--item img {
  margin: 40px auto;
  max-width: 200px;
}

.bt-slide--item strong {
  font-size: 1.6rem;
  font-weight: 600;
}

.bt-slide--item p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 20px 0 35px;
  font-weight: 400;
}

.bt-slide .slick-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  text-indent: -9999px;
  border: none;
  z-index: 1;
  top: calc(50% - 20px);
}

.bt-slide .slick-arrow.slick-prev {
  background-image: url(../images/icon/slide_arrow_left.png);
  left: -20px;
}

.bt-slide .slick-arrow.slick-next {
  background-image: url(../images/icon/slide_arrow_right.png);
  right: -20px;
}

.bt-guide {
  width: calc(100% + 50px);
  position: relative;
  left: -25px;
  margin: 50px 0;
  text-align: center;
}

.bt-guide img {
  width: 100%;
}

.bt-guide .tit {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 30px 0 20px;
}

.bt-guide .con {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4;
}

.card-table {
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
  text-align: left;
  font-size: 1.2rem;
}

.card-table th {
  padding: 8px 0;
  border-bottom: 1px solid #000;
  font-weight: 500;
}

.card-table th:first-child {
  padding-left: 20px;
}

.card-table th:last-child {
  padding-right: 20px;
}

.card-table td {
  color: #535353;
  padding: 15px 0;
  border-bottom: 1px solid #dfdfdf;
}

.card-table td:first-child {
  padding-left: 20px;
}

.card-table td:last-child {
  padding-right: 20px;
}

.card-table td.no {
  background: #f6f6f6;
  color: #828282;
  text-align: center;
  padding: 30px 0;
}

.card-table .btn.delete {
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background: #e2e2e2;
  font-size: 1.1rem;
  line-height: 0;
}

.card-new {
  display: block;
  width: 70%;
  border: 1px solid #c9c9c9;
  margin: 0 auto;
  border-radius: 10px;
  padding: 25px;
  font-size: 1.4rem;
  font-weight: 500;
}

.card-new .plus {
  font-size: 3rem;
  background: #6c6cef;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 auto 15px;
  color: #fff;
  font-weight: 300;
  line-height: 40px;
}

.review-list {
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
}

.review-list--item {
  background: #fff;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 1.4rem;
}

.review-list--item .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.review-list--item .top:after {
  content: '';
  display: block;
  width: 10px;
  height: 20px;
  background: url(../images/icon/arrow_right_md.png) no-repeat center;
  position: absolute;
  right: 0;
  top: 0;
}

.review-list--item .top .info {
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
  padding-left: 38px;
}

.review-list--item .top .info .img-wrap {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background: #e1e1e1;
  position: absolute;
  left: 0;
  top: 0;
}

.review-list--item .top .info .date {
  color: #8f8f8f;
}

.review-list--item .top .info .startRadio {
  -webkit-transform: scale(0.52);
          transform: scale(0.52);
  margin-left: -30px;
  margin-top: -2px;
}

.review-list--item .top .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.review-list--item .top .photo-wrap {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 2px;
  position: relative;
}

.review-list--item .top .photo-wrap img {
  width: 100%;
}

.review-list--item .top .photo-wrap .more {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review-list--item .top .photo-wrap .more .num {
  background: #fff;
  color: #000;
  font-size: 1.2rem;
  padding: 2px 5px;
  border-radius: 10px;
}

.review-list--item .bottom {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
  padding-left: 35px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.review-list--item > .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0 30px;
}

.review-list--item > .photo .photo-wrap {
  width: 40vw;
  height: 40vw;
  max-width: 280px;
  max-height: 280px;
  border-radius: 6px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 2px;
  position: relative;
}

.review-list--item > .photo .photo-wrap:only-child {
  width: 100%;
  max-width: 100%;
}

.review-list--item > .photo .photo-wrap img {
  width: 100%;
}

.review-list--item > .photo .photo-wrap .more {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review-list--item > .photo .photo-wrap .more .num {
  background: #fff;
  color: #000;
  font-size: 1.4rem;
  padding: 3px 7px 5px;
  border-radius: 10px;
}

.review-list--item.no .text {
  text-align: center;
  padding: 20px 0;
  color: #6d6d6d;
}

.review-list--item.type2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review-list--item.type2 .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 2;
}

.review-list--item.type2 .btn.plus {
  width: 28px;
  height: 29px;
  border-radius: 15px;
  background: #6c6cef;
  color: #fff;
  line-height: 20px;
  font-size: 2.5rem;
  font-weight: 300;
}

.review-list.type2 .review-list--item {
  border-bottom: 1px solid #a3a3a3;
  padding-bottom: 40px;
}

.review-list.type2 .review-list--item:last-child {
  border-bottom: none;
}

.review-list.type3 .review-list--item .delete {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.2rem;
  text-decoration: underline;
}

.review-list.type3 .review-list--item .top:after {
  display: none;
}

.review-list.type3 .review-list--item > .photo {
  margin: 10px 0 0;
  display: block;
  white-space: nowrap;
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
  padding: 0 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.review-list.type3 .review-list--item > .photo .photo-wrap {
  display: inline-block;
}

.review-list.type3 .review-list--item .bottom {
  padding: 10px 0;
  display: block;
}

.inquiry-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}

.inquiry-top .text {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #4c4c4c;
}

.inquiry-top .btn {
  padding: 0 10px;
  font-weight: 500;
}

.accordion-list {
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
  border-top: 1px solid #dbdbdb;
}

.accordion-list.bt-none {
  border-top: none;
}

.accordion-list--item {
  font-size: 1.3rem;
  padding: 0 20px;
  border-bottom: 1px solid #dbdbdb;
}

.accordion-list--item .top {
  margin-top: 15px;
  color: #8f8f8f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordion-list--item .tit {
  padding: 15px 0;
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  font-weight: 500;
}

.accordion-list--item .tit .text {
  line-height: 1.5;
  word-break: keep-all;
  display: block;
  padding-right: 20px;
}

.accordion-list--item .tit .text.q {
  padding: 0 20px;
  position: relative;
}

.accordion-list--item .tit .text.q:after {
  content: 'Q.';
  position: absolute;
  left: 0;
  top: -1px;
  font-size: 1.4rem;
  font-weight: 500;
}

.accordion-list--item .tit:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url(../images/icon/arrow_right.svg) no-repeat center;
  background-size: 7px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  right: -5px;
  bottom: 15px;
}

.accordion-list--item .tit.active:after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.accordion-list--item .tit.active + .con {
  padding: 20px;
  max-height: 500px;
  border-top: 1px solid #dbdbdb;
}

.accordion-list--item .con {
  line-height: 1.5;
  background: #f5f5f5;
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
  padding: 0 20px;
  max-height: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  border-top: 1px solid #fff;
  word-break: keep-all;
}

.accordion-list--item .con.a {
  position: relative;
}

.accordion-list--item .con.a:before {
  content: 'A.';
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 5px;
}

.link-list--item {
  margin-bottom: 20px;
  font-size: 1.4rem;
  line-height: 1.5;
  position: relative;
}

.link-list--item a {
  display: block;
  width: 100%;
  height: 100%;
}

.link-list--item a::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url(../images/icon/arrow_right.svg) no-repeat center;
  background-size: 9px;
  position: absolute;
  right: 0;
  top: calc(50% - 10px);
}

.link-list--item .top {
  font-size: 1rem;
  color: #8f8f8f;
  margin-bottom: 5px;
}

.link-list--item .tit {
  padding-right: 20px;
  word-break: keep-all;
}

.link-list--item .tit.q {
  padding-left: 25px;
  position: relative;
}

.link-list--item .tit.q:after {
  content: 'Q.';
  position: absolute;
  left: 0;
  top: -1px;
  font-size: 1.4rem;
  font-weight: 500;
}

.link-list.type2 .link-list--item {
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #dbdbdb;
}

.link-list.type2 .link-list--item a:after {
  right: 20px;
}

.notice-detail {
  font-size: 1.4rem;
  padding: 10px 0;
  line-height: 1.5;
}

.switch-wrap {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch-wrap .input-switch {
  margin-left: 5px;
}
/*# sourceMappingURL=style.css.map */